@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/background.svg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-shadow-title {
    text-shadow: 4px 3px 1.6px rgba(0, 0, 0, 0.65);
  }

  .text-shadow-signup {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.50);
  }
}
